@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
html{
    font-family: 'Nunito';
    font-size: 12px;
    font-weight: 600;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width:100%; 
    height: 100%;
    object-fit: cover;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: rgb(246, 154, 183);
    
}
.container{
    width: 90%;
    height: auto; /* it's contents will automatically fit inside it and not overflow from it*/
    max-width: 1200px;
    margin: 0 auto;
    
}
.brand{  /*recipe*/
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin-bottom: 30px;
}
form
{
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    background-color: whitesmoke;
    border-radius: 4px;
}
form input{
    width: 90%;
    background-color: transparent;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 2rem;
}
form ion-icon{
    width: 9%;
    font-size: 2.7rem;
    margin: -9px;
    color: rgb(118, 118, 118);
}
.Enter{
    text-align: center;
    font-size: 1.4rem;
    color: whitesmoke;
}
.result{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto/ repeat(auto-fit,minmax(300px,1fr)); /*this grid-template property creates a grid layout where the rows adjust their height based on their content, and the columns repeat as necessary to fill the available space while maintaining a minimum width of 300 pixels and a maximum width of 1 fractional unit.*/
}
.item{
    width: 100%;
    border-radius: 8px;
    background-color:rgb(255, 83, 138);
    padding: 15px;
    overflow: hidden;
}
.item img{
    width: 100%;
    height: 300px;
    border-radius: 4px;
}
.item .flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item .title{
    color: whitesmoke;
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: 400;
}
.item .button{
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    background-color:rgb(255, 2, 82);
    
    color: whitesmoke;
    border-radius: 8px;
    font-size: 1.4rem;
    margin-top: 20px;
    align-self: flex-start;
}
.item-data{
    color: whitesmoke;
    display: block;
    margin-top: 8px;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 2rem;
}
.button:hover{
    background-color:rgb(246, 154, 183);
}
